#titulo-pagina {
        color: blue;
        background-color: yellow;
}

h2{
    color: blue
}

#amarelo{
    color: yellow;
    background-color:blue;
}

#azul{
    color: blue;
    background-color: yellow;
}