.titulo{
    color:yellow;
    background-color:blue;
}

h2{
    color:blue;
    background-color:yellow;
}

#a{
    color:yellow;
    background-color:blue;
}

#b{
    color:blue;
    background-color:yellow;
}

#c{
    color:yellow;
    background-color:blue;
}