* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;
}

.container-logo {
    display: inline-block;
    width: 200px;
    height: 15vw;
}
 
.menu {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 8vw;
    text-align: center;
    font-size: 18px;
}

#menu-home li {
    display: inline;
}

#menu-home li a {
    width: 7.5vw;
    color:white;
    text-decoration: none;
    padding: 15px;
    display: flex;
    transition: background 6s;
    float: right;
}

#menu-home li a:hover {
    color:red;
}
    

#titulo-home h1 {
    position: absolute;
    width: 739px;
    height: 84px;
    left: 370px;
    top: 291px;
    /*font-family: Droid Sans;*/
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.contact-form {
    right: 450px; 
    position:absolute;
    top: 450px;
}


fieldset {
    border: 0;
}

body, input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    background: rgb(252, 252, 252);
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2);
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
}

.social-media h3 {
    color: white;
    position: absolute;
    top: 1100px;
    right: 450px; 
    font-size: 39px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: red;
}

#hiperlinks-social-media1 {
    color: white;
    position: absolute;
    top: 1200px;
    right: 500px; 
    font-size: 29px; 
}

#hiperlinks-social-media2 {
    position: absolute;
    top: 1200px;
    right: 700px; 
    font-size: 29px;   
}